body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background: url('/background.jpg') center center / cover no-repeat fixed;
  height: 100%;
  color: #fff;
}
.background {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-card {
  z-index: 2;
}
.footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #ccc;
}
